body {
  background-color: #444;
  background-image: url(de3f989b152650311bf944841defc66a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

